/* -------------------------------------------------------------------------- */
/* Upper Container ---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.upperLeftContent_AR {
  position: absolute;
  top: 15%;
  left: 5%;
  height: 70%;
  width: 55%;
}

.upperRightContent_AR {
  position: absolute;
  top: 12.5%;
  right: 3%;
  height: 75%;
  width: 28%;
}

#callSignValue_AR {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}

#countryValue_AR {
  position: absolute;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
}

.groundSpeedContent_AR {
  position: absolute;
  margin-top: 10px;
  width: 100%;
  bottom: 0;
}

.altitudeContent_AR {
  position: absolute;
  margin-top: 0;
  width: 100%;
  top: 0;
}

.upperRightTitle_AR {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
}

.upperRightContentText_AR {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
}
