/* -------------------------------------------------------------------------- */
/* Countries Dropdown ------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.custom-select-wrapper {
     position: relative;
     user-select: none;
     margin: auto;
     width: 200px;
     height: 100%;
     font-size: 15px;
     font-weight: bold;
}

 .custom-select {
     position: relative;
     display: flex;
     flex-direction: column;
}

 .custom-select__trigger {
     position: relative;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 12px 16px;
     color: #407099;
     background: #6BBAFF;
     cursor: pointer;
}

 .custom-options {
     position: absolute;
     display: block;
     top: 100%;
     left: 0;
     right: 0;
     background: #6bc6ff;
     transition: all 0.5s;
     opacity: 0;
     visibility: hidden;
     pointer-events: none;
     overflow-y: scroll;
     max-height: 150px;
     z-index: 2;
}

 .custom-select.open .custom-options {
     opacity: 1;
     visibility: visible;
     pointer-events: all;
}

 .custom-option {
     position: relative;
     display: block;
     padding: 12px 16px;
     font-size: 15px;
     color: #407099;
     cursor: pointer;
     transition: all 0.5s;
}

 /* .custom-option:hover {
     cursor: pointer;
     background-color: #b2b2b2;
} */

 .custom-option.selected {
     color: #407099;
     background-color: #6bc6ff;
}

.arrow {
     position: relative;
     height: 15px;
     width: 15px;
}

 .arrow::before, .arrow::after {
     content: "";
     position: absolute;
     bottom: 0px;
     width: 0.15rem;
     height: 100%;
     transition: all 0.5s;
}

 .arrow::before {
     left: -5px;
     transform: rotate(45deg);
     background-color: #407099;
     border: 2px solid #407099;
}

 .arrow::after {
     left: 5px;
     transform: rotate(-45deg);
     background-color: #407099;
     border: 2px solid #407099;
}

 .open .arrow::before {
     left: -5px;
     transform: rotate(-45deg);
}

 .open .arrow::after {
     left: 5px;
     transform: rotate(45deg);
}
