/* -------------------------------------------------------------------------- */
/* Countries Dropdown ------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.dropdownCountries {
  position: relative;
  margin: auto;
  background-color: #407099;
  width: 200px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 15px;
  font-weight: bold;
}

/* Hides original SELECT element */
.dropdownCountries select {
  display: none;
}

.country-selected {
  background-color: #6BBAFF;
}

/* Style the arrow inside the select element */
.country-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #407099 transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.country-selected.arrow-active:after {
  border-color: transparent transparent #407099 transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.country-items div,.country-selected {
  color: #407099;
  padding: 12px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.country-items {
  position: absolute;
  background-color: #6bc6ff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.country-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
