/* -------------------------------------------------------------------------- */
/* Pop-up ------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.popupDiv {
  position: absolute;
  background: #407099;
  top: 30%;
  left: 25%;
  right: 25%;
  width: 50%;
  height: 180px;
  z-index: 2;
}

.popupInnerDiv {
  position: absolute;
  background: #B8DEFF;
  width: 90%;
  height: 70%;
  top: 25%;
  left: 5%;
  right: 5%;
  color: #407099;
  font-size: 15px;
  text-align: center;
}

.popupTitle {
  color: #B8DEFF;
  font-size: 25px;
  padding-top: 10px;
  padding-left: 20px;
}

/* Button ------------------------------------------------------------------- */

.popupExitIconSize {
  height: 15px;
  width: 15px;
}

#popupExitButton {
  position: absolute;
  background-color: #407099;
  border: 2px solid #407099;
  top: 7%;
  right: 2%;
}

#popupExitButton:hover {
  position: absolute;
  background-color: #487dab;
  border: 2px solid #487dab;
  top: 7%;
  right: 2%;
}
