/* -------------------------------------------------------------------------- */
/* Pop-up ------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.popupInnerDiv {
  position: absolute;
  background: #B8DEFF;
  width: 90%;
  height: 70%;
  top: 25%;
  left: 5%;
  right: 5%;
  color: #407099;
  font-size: 18px;
  text-align: center;
}

/* No Flights Popup */
.popupFlightsDiv {
  position: absolute;
  background: #407099;
  top: 30%;
  left: 20%;
  right: 20%;
  width: 60%;
  height: 210px;
  z-index: 2;
}

.popupFlightsTitle {
  color: #B8DEFF;
  font-size: 25px;
  padding-top: 10px;
  padding-left: 20px;
}

/* AR Popup */
.popupARDiv {
  position: absolute;
  background: #407099;
  top: 35%;
  left: 17.5%;
  right: 17.5%;
  width: 65%;
  height: 160px;
  z-index: 2;
}

.popupARTitle {
  color: #B8DEFF;
  font-size: 25px;
  padding-top: 10px;
  padding-left: 20px;
}

/* Button ------------------------------------------------------------------- */

.popupExitIconSize {
  height: 15px;
  width: 15px;
}

#popupExitButton {
  position: absolute;
  background-color: #407099;
  border: 2px solid #407099;
  top: 7%;
  right: 2%;
}

#popupExitButton:hover {
  position: absolute;
  background-color: #487dab;
  border: 2px solid #487dab;
  top: 7%;
  right: 2%;
}
