/* -------------------------------------------------------------------------- */
/* Pop-up ------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.popupInnerDiv {
  position: absolute;
  background: #B8DEFF;
  padding: 2px;
  width: 260px;
  height: 70px;
  top: 5px;
  left: 5px;
  /* right: 5%; */
  color: #407099;
  font-size: 18px;
  text-align: center;
}

/* No Flights Popup */
.popupMotionOrDiv {
  position: absolute;
  background: #407099;
  top: 15%;
  left: 10%;
  right: 10%;
  width: 80%;
  height: 85px;
  z-index: 2;
}

/* Button ------------------------------------------------------------------- */

.popupExitIconSize {
  height: 15px;
  width: 15px;
}

#popupExitButton {
  position: absolute;
  background-color: #407099;
  border: 2px solid #407099;
  padding: 0;
  top: 5px;
  right: 5px;
}

#popupExitButton:hover {
  position: absolute;
  background-color: #487dab;
  border: 2px solid #487dab;
  top: 5px;
  right: 5px;
}
